@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
$primary-color: #86BC42;
$text-color: #49575F;
$font-family: 'Lato', sans-serif;

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.home-container{
  background-image: url(images/bg.jpg);
  height: 600px;
  background-size: cover;
  padding-top: 80px;
  border-bottom: 1px solid #e8e8e8;
  h1{
    color: $text-color;
    font-family: $font-family;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 100px;
    line-height: 50px;
    text-shadow: 3px 0 8px rgba(0,0,0, .3);
  }
  
  form{
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
      font-size: 13px;
      margin-top: 5px;
    }
  }
  
  p{
    text-align:center;
    font-size: 16px;
    color: $text-color !important;
  }
}

